@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
   min-height: 100vh; 
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

header > h1 {
    padding-top: 30px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 30px;
}

header > p > a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagen {
    background-color: rgba(189, 185, 185, 0.747);
    color: black;
}

section.imagen > p {
    background-color: rgba(122, 109, 109, 0.199);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer > a {
    color: rgb(92, 108, 228);
    text-decoration: none;
}