@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(21, 25px);
    grid-template-columns: repeat(23, 1fr);
    background-color: lightblue;
     border: 2px solid black;
    gap: 10px;
}

.caixa1 {
    background-color: #ffffff;
    border: 2px solid black;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
}

.caixa2 {
    background-color: #ffffff;
    border: 2px solid black;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 12;
}

.caixa3 {
    background-color: #ffffff;
    border: 2px solid black;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 13;
    grid-column-end: 23;
}

.caixa4 {
    background-color: #ffffff;
    border: 2px solid black;
    grid-row-start: 6;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 9;
}

.caixa5 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 6;
    grid-row-end: 13;
    grid-column-start: 9;
    grid-column-end: 23;
}

.caixa6 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 12;
    grid-row-end: 14;
    grid-column-start: 2;
    grid-column-end: 9;
}

.caixa7 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 13;
    grid-row-end: 18;
    grid-column-start: 9;
    grid-column-end: 23;
}

.caixa8 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 14;
    grid-row-end: 19;
    grid-column-start: 2;
    grid-column-end: 9;
}

.caixa9 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 18;
    grid-row-end: 19;
    grid-column-start: 9;
    grid-column-end: 23;
}

.caixa10 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 19;
    grid-row-end: 21;
    grid-column-start: 2;
    grid-column-end: 5;
}

.caixa11 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 19;
    grid-row-end: 21;
    grid-column-start: 5;
    grid-column-end: 8;
}

.caixa12 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 19;
    grid-row-end: 21;
    grid-column-start: 8;
    grid-column-end: 11;
}

.caixa13 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 19;
    grid-row-end: 21;
    grid-column-start: 11;
    grid-column-end: 14;
}

.caixa14 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 19;
    grid-row-end: 21;
    grid-column-start: 14;
    grid-column-end: 17;
}

.caixa15 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 19;
    grid-row-end: 21;
    grid-column-start: 17;
    grid-column-end: 20;
}

.caixa16 {
    background-color: #ffffffff;
    border: 2px solid black;
    grid-row-start: 19;
    grid-row-end: 21;
    grid-column-start: 20;
    grid-column-end: 23;
}