@charset "UTF-8";

.container {
    display: grid;
    background-color: lightblue;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 50px);
    gap: 5px;
}

.caixa1 {
    background-color: #ffffff;
    border: 2px solid black;
    grid-row: 1 / 3;
    grid-column: 1 / -1;
}

.caixa2 {
    background-color: #ffffff;
    border: 2px solid black;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

.caixa3 {
    background-color: #ffffff;
    border: 2px solid black;
    grid-row: 4 / 12;
    grid-column: 1 / 8;
}

.caixa4 {
    background-color: #ffffff;
    border: 2px solid black;
    grid-row: 4 / 12;
    grid-column: 8 / -1;
}

.caixa5 {
    background-color: #ffffff;
    border: 2px solid black;
    grid-row: 12 / 13;
    grid-column: 1 / -1;
}